<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whackyard.bankbuddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/payment_method"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".NavigatorActivity"
            android:label="Find IFSC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigatorActivity" />
        </activity>>
        <activity
            android:name=".NavigatorActivity"
            android:label="BankBuddy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ValidateIfscActivity"
            android:parentActivityName=".NavigatorActivity"
            android:label="Check IFSC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigatorActivity" />
        </activity>
        <activity android:name=".SearchMicrActivity"
            android:parentActivityName=".NavigatorActivity"
            android:label="Check MICR">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigatorActivity" />
        </activity>
        <activity android:name=".SearchHistoryActivity"
            android:parentActivityName=".NavigatorActivity"
            android:label="Search History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigatorActivity" />
        </activity>
    </application>


</manifest>